.slider-container {
    width: 400px;
    margin: auto;
  }

  .slider {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 8px;
  }

  .slide-moves {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    z-index: 0;
  }



